{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="my-4 text-center">Create Location</h2>
            <form method="POST" action="{{url_for('inventory.create_location')}}">
                <div class="form-group">
                    <label for="email">Location name</label>
                    <input class="form-control" name="locationname" placeholder="Enter name" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}